.container {
  display: flex;
  justify-content: space-between;

  height: 100vh;
  width: 100vw;

  .searchBox {
    text-align: center;
    background: #111926;
    background-image: url('../public/images/back.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 50%;
    padding: 3rem;

    h4 {
      color: #fff;
      font-weight: 500;
      font-size: 2.25rem;
    }

    .search {
      margin: 2rem 0;
      display: flex;
      align-items: center;

      input {
        border: 0;
        border-radius: 8px;
        padding: 1rem 2rem;
        margin: 1rem 0;
        height: 4.5rem;
      }

      .buttonSearch {
        background: #04D361;
        height: 4.5rem;
        width: 4.5rem;
        margin-left: 0.75rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 8px;
        cursor: pointer;

        transition: filter  0.2s;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }

  .result {
    padding: 5rem;
    width: 50%;

    .noCep {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      height: 100%;

      h4 {
        width: 22.81rem;
        font-size: 1.75rem;
        font-weight: 500;

        line-height: 2.375rem;
        margin-top: 1rem;

        text-align: center;
        font-family: 'Poppins', sans-serif;
      }
    }

    .resultSucess {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      height: 100%;

      .card {
        margin: 2rem 0;
        background: #FAFAFC;
        border-radius: 8px;
        border: 1px solid #E6E6F0;
        padding: 2rem 1.5rem;
  
        width: 70%;
        height: 13.18rem;
  
        ul {
          list-style: none;
  
          li {
            padding-bottom: 1rem;
  
            span {
              font-weight: 700;
            }
          }
        }
      }

      button {
        width: 50%;
        background: #04D361;
        height: 4.5rem;

        border: 0;
        border-radius: 8px;
        cursor: pointer;

        font-size: 1.125rem;
        color: #fff;

        transition: filter  0.2s;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}